
/**************************************************************************************************
 *                                                                                                *
 * ProgressMonitor                                                                                *
 *                                                                                                *
 **************************************************************************************************/

.minimal-control { 
    -fx-skin: "test.skin.MinimalControlSkin";
}

.minimal-control .popup {
    -fx-border-color: black; /* -fx-box-border; */
    -fx-border-width: 1px;
    -fx-background-color: red;
}

.minimal-control PopupControl {
    -fx-border-color: black; /* -fx-box-border; */
    -fx-border-width: 1px;
    -fx-background-color: blue;
}

/*.minimal-popup {
    -fx-border-color: black;  -fx-box-border; 
    -fx-border-width: 1px;
    -fx-background-color: yellow;
}*/

/*.minimal-control .minimal-popup {
    -fx-border-color: black;  -fx-box-border; 
    -fx-border-width: 1px;
    -fx-background-color: green;
}*/

